{% extends "layout/admin/template.twig" %}
{% block title %}
	{{options.title}}
{% endblock %}

{% block content %}
	{% include 'layout/admin/header_content.twig' %}
	<div class="container-fluid">
		<div class="card">
			<div class="card-header">
				{{options.subject}}
			</div>
			<div class="card-body">
                {% include "partials/_messages.twig" %}
				{% include "images/_form.twig" %}
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
{% endblock %}
